.App {
  text-align: center;
}
.todos{
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo-items{
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 10px;
  padding: 5px;
}
.done{
  text-decoration: line-through;
}
